/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    background: #f4f9fd;
}

/*UTILITIES*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/*LAYOUT*/

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

/*BUTTONS*/

.btn {
    display: inline-block;
    min-width: 50px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

.btn.btn-orange {
    background: #fe775a;
    color: #fff;
    border: 1px solid transparent;

}

.btn.btn-big {
    padding: 20px;
}

/*MENU*/

.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-block li {
    list-style: none;
}

/*HEADER*/

.main-header {
    background: #f4f9fd;
}

.header-top {
    height: 90px;
}

.header-top {
    position: relative;
}

/*TOP LEFT*/

.header-top .top-left {
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
}

.header-top .top-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}

.header-top .top-left .english {
    display: inline-block;
    color: #33475b;
    padding: 0 8px;
    text-decoration: none;
}

.header-top .top-left .icon {
    padding-right: 20px;
}

.header-top .top-left .contact {
    color: #33475b;
    padding-left: 20px;
    border-left: 1px solid #33475b;
    text-decoration: none;
}

/*TOP RIGHT*/

.header-top .top-right .icon {
    padding-right: 20px;
    color: #00a4bd;
}

.header-top .top-right .btn {
    margin-right: 20px;
}

.header-bottom {
    background: #fff;
    height: 90px;
}

.header-bottom .container {
    position: relative;
    height: 100%;
}

.header-bottom .header-bottom-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header-bottom .header-bottom-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}

.header-bottom .header-bottom-right a {
    text-decoration: none;
    color: #33475b;
}

.header-bottom .header-bottom-right a {
    padding-right: 20px;
}

/*JUMBOTRON*/

.jumbotron {
    height: 500px;
    background: #fff4ef;
    background-image: url('..//img-hubspot/jumbotron.png');
    background-size: 1030px;
    background-repeat: no-repeat;
    background-position: 60% 100%;
}

.jumbotron-left {
    padding-top: 40px;
}
.jumbotron-left h1 {
    font-size: 50px;
    padding-bottom: 30px;
}

.jumbotron-left .btn {
    margin: 30px 0;
}

.jumbotron-left p {
    font-size: 14px;
}

.ground {
    height: 80px;
    background: #afebe4;
    margin-top: 55px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/*SECTION ONE*/

.info .container-small {
    text-align: center;
}

.info .container-small img {
    margin-top: 60px;
    display: inline-block;
    max-width: 30%;
}

.info .container-small h2 {
    font-size: 40px;
    margin: 30px 0;
}

.info .container-small p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 60px;
}

/*SECTION TWO*/

.free .container {
    background: #fff;
    height: 400px;
    position: relative;
    margin-bottom: 50px;
    padding: 80px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0, .2);
}

.free .free-left {
    float: left;
    text-align: center;
}
.free .free-left img {
    display: inline-block;
    max-width: 62%;
    margin-bottom: 20px;
}

.free .free-left a {
    display: inline-block;
}

.free .free-right {
    float: left;
}

.free .free-right p {
    margin: 40px 0 30px 0;
}

.free .free-right h3 {
    display: inline-block;
    margin-bottom: 30px;
}

.free .free-right i {
    display: inline-block;
    padding-right: 10px;
    color: #fe775a;
}

.free-right .hr {
    display: inline-block;
    height: 50px;
    width: 470px;
    margin-left: 20px;
    border-bottom: 1px solid #33475b;
}

/*SECTION THREE*/
.hubs {
    margin-bottom: 50px;
}
.hub-left {
    width: 30%;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}

.hub-center {
    width: 30%;
    margin: 0 4.5%;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
}

.hub-right {
    width: 30%;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 10px 10px 10px  rgba(0,0,0,.2);
}

.hubs img {
    padding-top: 20px;
    max-width: 40%;
}

.hubs .hub-center img {
    max-width: 50%;
}

.hubs .hub-right img {
    max-width: 37%;
}

.hubs h2 {
    margin: 20px 0 40px 0;
}

.hubs p {
    line-height: 30px;
    margin-bottom: 50px;
}

.hubs h3 {
    margin: 40px 0;
}

.hubs li {
    padding-left: 40px;
    text-align: left;
}

.hubs li:last-child{
    margin-bottom: 30px;
}

.hubs i {
    display: inline-block;
    padding-right: 20px;
    color: #fe775a;
}

.hubs a {
    margin-bottom: 30px;
}

/*SECTION FOUR*/

.statistics {
    background-image: linear-gradient(to right, #00abb6 , #00bba6);
    height: 750px;
}

.statistics .statistics-top {
    padding-top: 30px;
    text-align: center;
    color: #fff;
}

.statistics .statistics-top h2 {
    font-size: 30px;
}

.statistics .statistics-top p {
    margin: 30px 0;
    line-height: 30px;
}

.row-content {
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.row-content .numbers,
.row-content .texts {
    color: #fff;
}

.row-content .numbers {
    margin-top: 20px;
    font-size: 50px;
}

.row-content .texts {
    margin: 30px 0;
    font-size: 12px;
}

.row-content .grow {
    padding-top: 10px;
}

.row-content:last-child {
    border-bottom: 0;
    border-right: 0;
}

.row-content:nth-child(4) {
    border-right: 0;
}

.row-content:nth-child(5),
.row-content:nth-child(6),
.row-content:nth-child(7) {
    border-bottom: 0;
}



