/*GENERAL*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
    background: #f4f9fd;
}

/*UTILITIES*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-small {
    width: 1000px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/*LAYOUT*/

.w-70 {
    width: 70%;
}

.w-50 {
    width: 50%;
}

.w-30 {
    width: 30%;
}

/*BUTTONS*/

.btn {
    display: inline-block;
    min-width: 50px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #fe775a;
    border: 1px solid #fe775a;
    border-radius: 5px;
}

.btn.btn-orange {
    background: #fe775a;
    color: #fff;
    border: 1px solid transparent;

}

.btn.btn-big {
    padding: 20px;
}

/*MENU*/

.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

/*HEADER*/

.main-header {
    background: #f4f9fd;
}

.header-top {
    height: 90px;
}

.header-top {
    position: relative;
}

/*TOP LEFT*/

.header-top .top-left {
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
}

.header-top .top-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}

.header-top .top-left .english {
    display: inline-block;
    padding: 0 8px;
}

.header-top .top-left .icon {
    padding-right: 20px;
}

.header-top .top-left .contact {
    padding-left: 20px;
    border-left: 1px solid #33475b;
}

/*TOP RIGHT*/

.header-top .top-right .icon {
    padding-right: 20px;
    color: #00a4bd;
}

.header-top .top-right .btn {
    margin-right: 20px;
}

.header-bottom {
    background: #fff;
    height: 90px;
}

.header-bottom .container {
    position: relative;
    height: 100%;
}

.header-bottom .header-bottom-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header-bottom .header-bottom-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    text-align: right;
}

.header-bottom .header-bottom-right a {
    text-decoration: none;
    color: #33475b;
}

.header-bottom .header-bottom-right a {
    padding-right: 20px;
}

/*JUMBOTRON*/

.jumbotron {
    height: 500px;
    background: #fff4ef;
    background-image: url('..//img-hubspot/jumbotron.png');
    background-size: 1030px;
    background-repeat: no-repeat;
    background-position: 60% 100%;
}

.jumbotron-left {
    padding-top: 40px;
}
.jumbotron-left h1 {
    font-size: 50px;
    padding-bottom: 30px;
}

.jumbotron-left .btn {
    margin: 30px 0;
}

.jumbotron-left p {
    font-size: 14px;
}

.ground {
    height: 80px;
    background: #afebe4;
    margin-top: 55px;
    border-top: 3px solid #33475b;
    border-bottom: 3px solid #33475b;
}

/*SECTION ONE*/

.info .container-small {
    text-align: center;
}

.info .container-small img {
    margin-top: 60px;
    display: inline-block;
    max-width: 30%;
}

.info .container-small h2 {
    font-size: 40px;
    margin: 30px 0;
}

.info .container-small p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 60px;
}




